.project_container{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    width: 99%;
    padding-left: 50px;
    padding-top: 100px;
    max-width: 600px;
    
}
.project_image > img{
    height: 300px;
    
}
.project_title > span{
    display: flex;
    padding-left: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.3rem;
    text-decoration: underline;

}
.project_description{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.project_description > p{
    padding: 5px 0;;
}
.project_link{
    padding-top: 8px;
}
.white{
    font-size: 1.1rem;
}