.projects_container{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    width: 102.8%;
    

}
.projects_title{
    display: flex;
    padding-top: 40px;
    font-size: 1.5rem;
    font-weight: 800;
    justify-content: center;
    color: whitesmoke;
}
.projects_details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
.last_project{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding-bottom: 20px;
}